h1 {
  font-family: "Raleway", sans-serif;
}

.pageHeader {
  font-size: 60px;
}

h2,
h5,
h6,
h7 {
  color: var(--tertiary-color);
}

h3 {
  font-size: 96px;
}

h4 {
  font-family: "Quattrocento Sans", sans-serif;
  color: rgb(240, 240, 240);
}

h6 {
  margin-bottom: 0px;
}

:root {
  background-repeat: no-repeat;
  --primary-color: #459a97;
  --secondary-color: #fcbe13;
  --tertiary-color: #223148;
}

.primaryColor {
  color: var(--primary-color);
}

.secondaryColor {
  color: var(--secondary-color);
}

.tertiaryColor {
  color: var(--tertiary-color);
}

body {
  padding: 0px;
  margin: 0;
}

img {
  display: inline;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
}

.headerimage {
  max-width: 300px;
}

.headerText {
  padding-top: 50px;
  margin: auto;
  vertical-align: middle;
}

.container {
  max-width: 100%;
  padding: 0px;
  padding-bottom: 50px;
  margin: 0px 0px;
}

.hero {
  height: 370px;
  width: 100%;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0px 50px 0px;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
}

.heroBooks {
  height: 370px;
  width: 100%;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0px 50px 0px;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
}

.heroContact {
  height: 530px;
  width: 100%;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0px 50px 0px;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
}

.headerTextBooks {
  margin: auto;
  vertical-align: middle;
}

.logo {
  padding: 10px 0px;
  width: 250px;
}

.heroButtons {
  padding: 15px 25px;
  width: 200px;
  margin: 20px;
  background-color: white;
  border: solid var(--secondary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
}

.heroButtons:hover {
  padding: 15px 25px;
  width: 200px;
  margin: 20px;
  background-color: var(--secondary-color);
  border: solid var(--secondary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  transition: all 250ms ease-in-out;
}

.navbarRow {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  padding-top: 28px;
  padding-right: 0px;
  font-family: "Quattrocento Sans", sans-serif;
  justify-content: end;
}

.nav-item {
  color: var(--tertiary-color) !important;
}

.yellow {
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--tertiary-color);
  padding: 0px;
  font-size: 20px;
}

.icons {
  padding: 0px 10px;
}

.bookImage {
  display: block;
  margin: 0 auto;
  align-items: center;
}

.buyButtonHomepage {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 20px 0px;
  background-color: white;
  background-color: var(--tertiary-color);
  border: solid var(--tertiary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  box-shadow: 5px 5px 5px rgb(165, 165, 165, 0.2);
  transition: all 250ms ease-in-out;
}

.buyButtonHomepage:hover {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 20px 0px;
  background-color: white;
  border: solid var(--tertiary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--tertiary-color);
  box-shadow: 5px 5px 5px rgb(165, 165, 165, 0.2);
}

.buyButton {
  padding: 15px 25px;
  width: 200px;
  background-color: white;
  background-color: var(--tertiary-color);
  border: solid var(--tertiary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  box-shadow: 5px 5px 5px rgb(165, 165, 165, 0.2);
  transition: all 250ms ease-in-out;
}

.buyButton:hover {
  padding: 15px 25px;
  width: 200px;
  background-color: white;
  border: solid var(--tertiary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--tertiary-color);
  box-shadow: 5px 5px 5px rgb(165, 165, 165, 0.2);
}

.bookButtons {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 20px 0px;
  background-color: #5f6c85;
  border: solid #5f6c85 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  transition: all 250ms ease-in-out;
}

.bookButtons:hover {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 20px 0px;
  background-color: white;
  border: solid var(--tertiary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--tertiary-color);
  box-shadow: 5px 5px 5px rgb(165, 165, 165, 0.2);
}

.mentoringButton {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 0px 20px;
  background-color: white;
  border: solid white 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--tertiary-color);
}

.mentoringButton:hover {
  padding: 15px 25px;
  width: 200px;
  margin: 20px 20px 0px 20px;
  background-color: var(--primary-color);
  border: solid var(--primary-color) 3px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  transition: all 250ms ease-in-out;
}

.books {
  padding-top: 50px;
}

.topBook {
  margin-left: 20px;
  padding-left: 0px;
}

.bottomBook {
  padding-right: 30px;
  padding-bottom: 20px;
}

.booktitle {
  padding-top: 50px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mentoring {
  width: 100%;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0px 50px 0px;
  background-color: var(--tertiary-color);
  text-align: center;
  color: white;
}

@media (max-width: 576px) {
  project-desciption {
    text-align: center;
  }
}

.card {
  vertical-align: middle;
  height: 300px;
  padding: 20px 0px;
  border: none;
}
